In [1]:
import pandas as pd

In [6]:
data = {'student name': ['Alex','Bella','Peter'],
        'school created the survey':['our school','our school','our school'],
         'Top school':['our school', 'College B', 'College C'],
         'Second school':['our school','College G','our school'],
         'rate the campus of our school':['Good', 'Good', 'Not good'], 
         'rate the quality of our school':['Average','Above Average','Below Average'],
         'rate the campus of your top school':['Good', 'Bad','Acceptable'],
         'rate the quality of your top school':['Average','High','High'],
         'rate the campus of your second school':['Good','Not good','Not good'],
         'rate the quality of your second school':['Average','Average','Below Average']}

In [7]:
sample = pd.DataFrame(data)

In [8]:
sample

,student name,school created the survey,Top school,Second school,rate the campus of our school,rate the quality of our school,rate the campus of your top school,rate the quality of your top school,rate the campus of your second school,rate the quality of your second school
0,Alex,our school,our school,our school,Good,Average,Good,Average,Good,Average
1,Bella,our school,College B,College G,Good,Above Average,Bad,High,Not good,Average
2,Peter,our school,College C,our school,Not good,Below Average,Acceptable,High,Not good,Below Average

In [18]:
melt1 = sample.melt(id_vars = ['student name','rate the campus of our school','rate the quality of our school','rate the campus of your top school','rate the quality of your top school','rate the campus of your second school','rate the quality of your second school'], value_vars = ['school created the survey','Top school','Second school'], var_name = 'School Choice',value_name = 'School Name')

In [20]:
melt1

,student name,rate the campus of our school,rate the quality of our school,rate the campus of your top school,rate the quality of your top school,rate the campus of your second school,rate the quality of your second school,School Choice,School Name
0,Alex,Good,Average,Good,Average,Good,Average,school created the survey,our school
1,Bella,Good,Above Average,Bad,High,Not good,Average,school created the survey,our school
2,Peter,Not good,Below Average,Acceptable,High,Not good,Below Average,school created the survey,our school
3,Alex,Good,Average,Good,Average,Good,Average,Top school,our school
4,Bella,Good,Above Average,Bad,High,Not good,Average,Top school,College B
5,Peter,Not good,Below Average,Acceptable,High,Not good,Below Average,Top school,College C
6,Alex,Good,Average,Good,Average,Good,Average,Second school,our school
7,Bella,Good,Above Average,Bad,High,Not good,Average,Second school,College G
8,Peter,Not good,Below Average,Acceptable,High,Not good,Below Average,Second school,our school

In [19]:
prefer = {'student name':['Alex','Alex','Alex','Bella','Bella','Bella','Peter','Peter','Peter'],
         'School Choice':['Our school','Top school','Second school','Our school','Top school','Second school','Our school','Top school','Second School'],
          'School Name':['Our school','Our school','Our school','Our school','College B','College G','Our school','College C','Our school'],
         'rate the campus':['Good','Good','Good','Good','Bad','Not good','Not good','Acceptable','Not good'],
         'rate the quality':['Average','Average','Average','Above Average','High','Average','Below Average','High','Below Average']}

In [10]:
result = pd.DataFrame(prefer, columns = ['student name','School Choice','School Name','rate the campus','rate the quality'])

In [11]:
result

  student name  School Choice School Name rate the campus rate the quality
0         Alex     Our school  Our school            Good          Average
1         Alex     Top school  Our school            Good          Average
2         Alex  Second school  Our school            Good          Average
3        Bella     Our school  Our school            Good    Above Average
4        Bella     Top school   College B             Bad             High
5        Bella  Second school   College G        Not good          Average
6        Peter     Our school  Our school        Not good    Below Average
7        Peter     Top school   College C      Acceptable             High
8        Peter  Second School  Our school        Not good    Below Average